[Unit]
After=dnsmasq.service
Wants=dnsmasq.service

[Service]
Type=simple
ExecStart=/usr/local/bin/dnsmasq-lease-notifier.sh
DynamicUser=yes

# otherwise it wont see other's services logs
Group=systemd-journal

[Install]
WantedBy=default.target
